[user]
    name = Chung-Chiang Cheng
    email = shepjeng@gmail.com
    #signingkey = 
[core]
    editor = vim
    abbrev = 12
[alias]
    d = difftool
    co = checkout
    st = status
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    logs = log --color --graph --date=short --pretty=format:'%C(bold yellow)%h %C(green)%ad %C(reset)- %s %C(brightblack)<%ae>%Creset' --abbrev-commit --
    type = cat-file -t
    dump = cat-file -p
[merge]
    tool = vimdiff
[pull]
    rebase = true
[pretty]
    fixes = Fixes: %h (\"%s\")
[format]
    signoff = true
    coverLetter = auto
    thread = shallow
[sendemail]
    #smtpserver = 
    #smtpuser = 
    #smtppass = 
    #smtpencryption = tls
    #smtpserverport = 587
[protocol]
    version = 2
[help]
    autocorrect = 1
[commit]
    template = ~/.git-commit-template
    gpgsign = true
[fetch]
    prune = true
[diff]
    tool = vimdiff
    colormoved = default
    algorithm = histogram
[safe]
    directory = *
[difftool]
    prompt = false
    trustExitCode = true
